[submodule "wk8/Clock"]
	path = wk8/Clock
	url = git@github.com-absoluteyl:absoluteyl/Clock.git
[submodule "wk8/RugPullHW"]
	path = wk8/RugPullHW
	url = git@github.com-absoluteyl:absoluteyl/RugPullHW.git
[submodule "wk8/FakeUSDC"]
	path = wk8/FakeUSDC
	url = git@github.com-absoluteyl:absoluteyl/FakeUSDC.git
[submodule "wk8/ProxyPart2"]
	path = wk8/ProxyPart2
	url = git@github.com-absoluteyl:absoluteyl/ProxyPart2.git
[submodule "wk9/NFT"]
	path = wk9/NFT
	url = git@github.com-absoluteyl:absoluteyl/NFT.git
[submodule "wk10-14/Blockchain-Resource"]
	path = wk10-14/Blockchain-Resource
	url = git@github.com-absoluteyl:absoluteyl/Blockchain-Resource.git
[submodule "wk15/damn-vulnerable-defi-foundry"]
	path = wk15/damn-vulnerable-defi-foundry
	url = git@github.com-absoluteyl:absoluteyl/damn-vulnerable-defi-foundry.git
